@model ASPHome.Models.SignIn
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2 style="margin: 1% 0% 1% 0%;text-align:center">Successfully Registred -Apply HomeLoan <a href="https://localhost:44305/IncomeDetails/Create" />Click Here</a></h2>
<img src="~/Images/homeloan2.jpg" alt="Home Loan" style="height: 330px;margin: 0% 30% 0% 30%" />